---
import Layout from "../layouts/Layout.astro"
console.log("javascript")
---

<Layout title="About the project">"
  <h1 class="font-ligth text-gray-300 sm:text-xl dark:text-gray-400"> About the project</h1>

  <p class="font-ligth text-gray-500 sm:text-xl dark:text-gray-400">Welcome to our local information hub, where you'll find everything you need to know about the weather and the latest news relevant to your location. We provide accurate weather forecasts and real-time updates to keep you well-informed. Additionally, our platform keeps you updated on local events, top news stories, and events that directly impact your community. Explore a personalized informational experience based on your current location. Join us to stay abreast of what's happening around you, with the convenience of receiving information that truly matters to you.</p>
</Layout>