---
import Nav from '../components/Nav.astro';
console.log('javascript')
---


<header class="py-8 px-4 mx-auto max-w-xl lg:py16 lg:px-6">
  <div class="mx-auto test-center mb-8 lg:mb-16">
    <h2 class="mb-4 text-5xl tracking-tight font-estrabold text-white">
      Día
    </h2>
    <p class="font-ligth text-gray-500 sm:text-xl dark:text-gray-400">
      que nos espera hoy ?
    </p>
  </div>

  <Nav/>
</header>
