---
import HeaderButton from "./HeaderButton.astro";
console.log("javascript")
---

<nav class="flex flex-col items-center justify-between w-full text-center md:flex-row text-white">

  <HeaderButton url='/'>
    HOME
    <svg 
    slot="before"
    width="44"
    height="44"
    viewBox="0 0 24 24"
    stroke-width="1.5" 
    stroke="#2c3e50" 
    fill="none" 
    stroke-linecap="round" 
    stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
      <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
      <path d="M10 12h4v4h-4z" />
    </svg>
  </HeaderButton>

  <HeaderButton url='/about'>
    ABOUT
    <svg 
    slot="before"
    width="44" 
    height="44" 
    viewBox="0 0 24 24" 
    stroke-width="1.5" 
    stroke="#2c3e50" 
    fill="none" 
    stroke-linecap="round" 
    stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M12 9h.01" />
      <path d="M11 12h1v4h1" />
      <path d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z" />
    </svg>
  </HeaderButton>

  <HeaderButton url='/'>
    CONTACT
    <svg  
    width="44" 
    height="44" 
    viewBox="0 0 24 24" 
    stroke-width="1.5" 
    stroke="#2c3e50" 
    fill="none" 
    stroke-linecap="round" 
    stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M20 6v12a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2z" />
      <path d="M10 16h6" />
      <path d="M13 11m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
      <path d="M4 8h3" />
      <path d="M4 12h3" />
      <path d="M4 16h3" />
    </svg>
  </HeaderButton>

  <HeaderButton url='/document'>
    USE API
    <svg 
    slot="before"
    width="44" 
    height="44" 
    viewBox="0 0 24 24" 
    stroke-width="1.5" 
    stroke="#2c3e50" 
    fill="none" 
    stroke-linecap="round" 
    stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M14 3v4a1 1 0 0 0 1 1h4" />
      <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
      <path d="M12 14v.01" />
      <path d="M9.525 11.525a3.5 3.5 0 0 0 0 4.95m4.95 0a3.5 3.5 0 0 0 0 -4.95" />
    </svg>
  </HeaderButton>
</nav>